@import "variables";

// Admin Page Header
.admin-heading {
  color: $primary-color;
  position: relative;
}

.admin-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3%;
  height: 3px;
  background-color: $primary-color;
}

// Create new button styling
.new-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

// New Location & New Route form Styling
.newLocation,
.newRoute {
  border: 4px solid $primary-color;
  background-color: $cream-color;
  width: 500px;
  color: #f98a26;

  .card-header {
    background-color: $primary-color;
    color: #ffffff;
    font-size: 24px;
  }
}

// Table Styling
.table {
  margin: 20px auto;
  --bs-table-bg: none;
  border-color: $primary-color;
  border: 10px solid $primary-color;
}

.admin-table {
  th {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    vertical-align: middle;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  tr {
    background-color: $cream-color;
    &:hover {
      background-color: lighten($primary-color, 40%);
    }
  }

  .delete-icon {
    color: $danger-color;
    font-size: 35px;
  }

  .edit-icon {
    color: $primary-color;
    margin-right: 10px;
    font-size: 30px;
  }
}

// Pagination Styling
.pagination {
  .page-link {
    color: $primary-color;
    background-color: $cream-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
    }

    &.active {
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
      &:hover {
        color: white;
        background-color: $primary-color;
        border-color: white;
      }
    }
  }
}

.modal-header {
  background-color: $primary-color;
  color: #ffffff;
}
