@import "variables";

body{
  background-color: $secondary-color;
  font-family: $global-font-family;
}

.hero-title {
  font-size: 80px;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 10px;
}

// Banner Styling
.home-banner {
  color: $primary-color;
  border-radius: 25px;
}

.book-button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
    border: none;
  }
}

// Card Styling 
.homeicon {
  height: 100px;
  width: auto;
}

.home-card {
  background-color: $cream-color;
  min-width: 200px;
  border: 4px solid $primary-color;
  color: $secondary-color;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    color: $primary-color
  }

  .mt-auto {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.custom-button {
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 10%);
    border: none;
  }
}

// Accordion styling in Modals
.accordion-button:not(.collapsed) {
  color: white;
  background-color: lighten($secondary-color, 15%);
}

.accordion-button:focus {
  border-color: lighten($secondary-color, 15%);
  box-shadow: none;
}

.map-link{
  color: $primary-color;
  font-size: 50px;
}