@import "variables";

.company-title{
    color:$primary-color
}

.reservation-card{
    width: 400px;
    border: 2px solid $primary-color;
    background-color: $cream-color;
}

.reservation-date{
    color: $secondary-color;
    background-color: $primary-color;
}

.reservation-locations{
    color: $secondary-color;
    font-size: 20px;
}

.page-heading {
    color: $primary-color;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 3%;
        height: 3px;
        background-color: $primary-color;
      }
  }
  

