@import "variables";

// User Card Styling
.profile-card{
    margin-top: 100px;
    min-width: 400px;
    border: 4px solid $primary-color
}

.profile-header{
    color: white;
    background-color: $primary-color;
}

// Button Styling
.edit-button {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color ;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($primary-color, 10%);
      border: none;
    }
}


.delete-button {
    background-color: transparent;
    color: $danger-color;
    border: 1px solid $danger-color ;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($danger-color, 10%);
      border: none;
    }
}

.info-header {
    color: $primary-color;
  }


// Edit User Modal Styling
.profile-label{
    color: $primary-color;
    margin-bottom: 10px;
  }
  

// Delete Modal Syling 
.delete-modal-header{
    background-color: $danger-color;
}